* {
  border-width:        0px;
  margin:              0px;
  padding:             0px;
  font-size:          14px;
  overflow:         hidden;
}

#header {
  color:             white;
  width:              100%;
  height:            100px;
  padding:             3px;
  background-color: #39f;
  border: 1px solid #ccc;
/*  -webkit-app-region: drag; // pim: Disallows dropdowns from being clickable */
}

#main {
  width:              100%;
  height:   calc(100% - 200px);
  position:       relative;
  background-color: cyan;
}

#left {
  position: absolute;
  left: 0px;
  width:              400px;
  height:             100%;
  background-color:   black;
}

#right {
  position: absolute;
  right: 0px;
  width:              600px;
  height:             100%;
  background-color:   black;
}

#canvas {
  width:              400px;
  height:             418px;
  background-color:   black;
  border: 1px solid #ccc;
  z-index: 1;
  position: absolute;
}

#hud {
  color:             white;
  opacity:             1.0;
  position:         relative;
  width: 100%;
  z-index: 2;
  left: 0px;
  top: 0px;
  position: absolute;
  overflow: visible;
}

span.hud_left {
  color: white;
  width: 100px;
  margin: 4px;
  left: 0px;
  top: 0px;
  position: absolute;
}

span.hud_center {
  width: 100px;
  color: white;
  margin: 4px;
  left: 150px;
  top: 0px;
  position: absolute;
}

span.hud_right {
  width: 100px;
  color: white;
  margin: 4px;
  right: 0px;
  top: 0px;
  position: absolute;
}

#info {
  background-color:  white;
  color:             black;
  position:         relative;
  opacity:          0.7;
  width: 100%;
  padding: 4px;
  height: 172px;
  left: 0px;
  bottom: 0px;
  position: absolute;
}

#input {
  background-color:  white;
  color:             black;
  opacity:             0.7;
  position:         relative;
  width: 100%;
  height: 172px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  padding: 4px;
/*  border: 2px solid black; */
}

#footer {
  width:              100%;
  height:            100px;
  color:             white;
  background-color: #39f;
  padding:             3px;
}

/* For a div going fullscreen in a chrome app, maximize height and width */
div:-webkit-full-screen {
  width:   100% !important;
  height:  100% !important;
}
div:-moz-full-screen {
  width:   100% !important;
  height:  100% !important;
}
div:-ms-fullscreen {
  width:   100% !important;
  height:  100% !important;
}
div:fullscreen {
  width:   100% !important;
  height:  100% !important;
}

/* While in fullscreen, hide any children with class 'tohide' */
:-webkit-full-screen .tohide {
  display: none;
}
:-moz-full-screen .tohide {
  display: none;
}
:-ms-fullscreen .tohide {
  display: none;
}
:fullscreen .tohide {
  display: none;
}
